@model IEnumerable<DigitalShop.Domain.Order>
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
    <thead>
        <tr>
            <th>OrderID</th>
            <th>Date Create</th>
            <th>Order Code</th>
            <th>Order Status</th>
            <th>Shipping Address</th>
            <td style="width:160px;"></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.OrderID</td>
            <td>@item.DateCreate.ToString("dd/MM/yyyy HH:mm")</td>
            <td>@item.OrderCode</td>
            <td>@(item.Status==1?"New": item.Status == 2?"Plan":item.Status ==3?"Delivering": item.Status == 4?"Delivered":"Cancel")</td>
            <td>@item.ShippingAddress</td>
            <td>
                <a href="/admin/adminorder/edit/@item.OrderID" class="btn btn-success">View Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>

