@model HomeModel
<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Top Sellers</h2>
                    @*<a href="" class="wid-view-more">View All</a>*@
                    @foreach (var sellProduct in Model.TopSeller)
                    {
                        <div class="single-wid-product">
                            <a href="@sellProduct.ProductUrl"><img src="img/@sellProduct.ProductImage.Split(",").FirstOrDefault()" alt="" class="product-thumb"></a>
                            <h2><a href="@sellProduct.ProductUrl">@sellProduct.ProductName</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <ins>$@sellProduct.ProductPrice.ToString("N2")</ins> @*<del>$425.00</del>*@
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Recently Viewed</h2>
                    @*<a href="#" class="wid-view-more">View All</a>*@
                    @foreach (var recentlyProduct in Model.RecentlyViewed)
                    {
                        <div class="single-wid-product">
                            <a href="@recentlyProduct.ProductUrl"><img src="img/@recentlyProduct.ProductImage.Split(",").FirstOrDefault()" alt="" class="product-thumb"></a>
                            <h2><a href="@recentlyProduct.ProductUrl">@recentlyProduct.ProductName</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <ins>$@recentlyProduct.ProductPrice.ToString("N2")</ins> @*<del>$425.00</del>*@
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Top New</h2>
                    @*<a href="#" class="wid-view-more">View All</a>*@
                    @foreach (var newProduct in Model.TopNew)
                    {
                        <div class="single-wid-product">
                            <a href="@newProduct.ProductUrl"><img src="img/@newProduct.ProductImage.Split(",").FirstOrDefault()" alt="" class="product-thumb"></a>
                            <h2><a href="@newProduct.ProductUrl">@newProduct.ProductName</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <ins>$@newProduct.ProductPrice.ToString("N2")</ins> @*<del>$425.00</del>*@
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div> <!-- End product widget area -->